# Mailmerge config files
/mailmerge_database.csv
/mailmerge_template.txt
/mailmerge_server.conf

# Python temporary files
*.pyc
__pycache__

# Python virtual environment 
/env/
/env2/
/env3/
/.venv/
/venv/

# Python distribution productions
dist/
build/
*.egg-info/

# Editors
*~

# Test tools
/.tox/
/tmp/
/.coverage
*,cover
