[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=16

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=yes


[TYPECHECK]

# Avoid no-member errors that are endemic to some libraries
ignored-classes=socket
