include CONTRIBUTING.md
include LICENSE
include MANIFEST.in
include README.md
include .pylintrc
include test
graft tests

# Avoid dev and and binary files
exclude tox.ini
exclude .editorconfig
global-exclude *.pyc
global-exclude __pycache__
